body{
    background-image: url(3d-casual-life-books-and-cup.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: whitesmoke;
    border-radius: 5%;
    margin-top: 10%;
    padding: 1em;
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qtn{
    font-size: 1.5em;
    border-bottom: 2px solid black;
    padding: 0.2em;
    cursor: pointer;
}

.qtn::after{
    content: attr(data-symbol);
    position: relative;
    right: -15em;
}


.answer{
    padding: 1.2em;
    padding-top: 0em;
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-out;
}

.answer.active{
    height: 90px;
}

p{
    font-size: 1.1em;
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.894);
}


